<p><img src="pics/<%= firstName %>_<%= lastName %>.jpg" width="160" height="160"/></p>
<h3><%= firstName %> <%= lastName %></h3>
<h4><%= title %></h4>
<br>
        <table class="table table-striped">
                       
            <tr>
                <td>Type:</td>
                <td> <a href=""><%= type %></a></td>
            </tr>
            
            <tr>
                <td>Copyright:</td>
                <td> <a href=""><%= copyright %></a></td>
            </tr>
            
            <tr>
                <td>URL:</td>
                <td> <a href=""><%= url %></a></td>
            </tr>
            
        </table>

        <div class="alert alert-warning">
          <h4 class="alert-heading">Information</h4>
          <%= info %>
        </div>
